name: Sentinel

on:
  push:
    branches:
      - main
  pull_request:

env:
  FINK_SLACK_TOKEN: ${{ secrets.FINK_SLACK_TOKEN }}

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        container: ["gitlab-registry.in2p3.fr/astrolabsoftware/fink/fink-deps-science-ztf:latest"]

    container:
      image: ${{ matrix.container }}
      options: --user 0

    steps:
    - uses: actions/checkout@v4
    - name: Set up env (from container variables) [1/3]
      run: |
        echo "FINK_UTILS=$GITHUB_WORKSPACE" >> $GITHUB_ENV
        echo "JAVA_HOME=$(dirname $(dirname $(readlink -f $(which java))))" >> $GITHUB_ENV
        echo "${BINPATH}" >> $GITHUB_PATH

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: |
        ./run_test.sh
